@using LunchMenu.Web.Models.Reports
@model PopularDishesViewModel

@{
    ViewData["Title"] = "Prefered Dishes";
}

<h2 class="mb-3">Popular Dishes</h2>

<p>
    <strong>Total Orders:</strong> @Model.TotalOrders <br />
    <strong>Total Dishes:</strong> @Model.TotalDishes
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Dish</th>
            <th>Type</th>
            <th>Times Ordered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in Model.Dishes)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Type</td>
                <td>@dish.TimesOrdered</td>
            </tr>
        }
    </tbody>
</table>
